.home_list_container {
    margin-top: -2rem;
}

.bonsai_features {
    margin-top:3rem ;
}

/* Iphone X css */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

    .bonsai_features {
        margin-top:16rem ;
    }

    .home_list_container {
        margin-top: -3rem;
    }

}

/* Iphone X css */
@media only screen and (min-device-width : 400px) and (max-device-width : 767px) {

    .bonsai_features {
        margin-top:18rem ;
    }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .bonsai_features {
        margin-top: 22rem;
    }
    .home_list_container {
        margin-top: 0rem;
    }
}