.bonsai__header {
    margin-bottom:2rem ;
}

/* Iphone X css */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

    .bonsai__header {
        margin-bottom:12rem ;
    }

}

/* Iphone X css */
@media only screen and (min-device-width : 400px) and (max-device-width : 767px) {

    .bonsai__header {
        margin-bottom:15.5rem ;
    }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .bonsai__header {
        margin-bottom:6rem ;
        margin-top: 15rem;
    }
}