# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/

.vessel/
project_minting/
notes/
Bonsai_Warriors/

old.js
canister_ids.json
identity.json
input.js
minted.json
ito_giftcodes.json
.env