# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/

.vessel/
project_minting/
notes/
Bonsai_Warriors/
Pendragon_Quest/
Noblebright/

airdrop.json
canister_ids.json
identity.json
input.js
minted.json
ito_giftcodes.json
.env
identity_pendragon.json
identity_noblebright.json
identity_bonsai.json
identity_kontribute.json
old_input.js
old_minted.json