.bonsai__story {
    color:#cec6b6;
    font-weight: 500;
    line-height: 24px;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
}

.bonsai__story_heading {
    color: #f0e6d3;
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.bonsai__story_heading h5 {
    color: #c8aa6e;
    font-size: 2rem;
}

.bonsai__story_back-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 10rem;

}

.bonsai__vote h5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #f0e6d3;
    font-size: 1.5rem;
    font-weight: 600;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .bonsai__story_heading {
        font-size: 2.5rem;
    }
    
    .bonsai__story_heading h5 {
        font-size: 1.5rem;
    }
    .bonsai__story_back-button {
        justify-content: center;
    
    }
}