.bonsai__btn button {
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    
    outline: none;
    cursor: pointer;
}