.bonsai__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.bonsai__navbar-links_logo {
    margin-right: 2rem;
}
.bonsai__navbar-links_logo:hover {
    opacity: 0.8;
}

.bonsai__navbar-links_logo img {
    width: 30px;
    height: 30px;
}

.bonsai__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bonsai__navbar-sign:hover {
    opacity: 0.8;
}


.bonsai__navbar-sign button {
    color: #fff;
    padding: 0.5rem 1rem;
    background: #17191e;
    border: 1px solid #9d8144;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
}

/* Iphone X css */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .bonsai__navbar {
        padding: 2rem 2rem;
    }
    .bonsai__navbar-sign button {
        padding: 0.5rem 0.5rem;
        font-size: 14px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {
    .bonsai__navbar {
        padding: 3rem 4rem;
    }
}