.bonsai__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 6rem;
    background-color: #111111;
    border-bottom: 5px double #1a1a1a;
}

.bonsai__navbar-links_logo {
    margin-right: 2rem;
    border: 1px solid #9d8144;
    border-radius: 5px;
    background-color: #17191e;
}
.bonsai__navbar-links_logo:hover {
    opacity: 0.8;
}

.bonsai__navbar-links_logo img {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.bonsai__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bonsai__navbar-sign button:hover {
    opacity: 0.8;
}

/* for the links */
.bonsai__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.bonsai__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bonsai__navbar-links p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}
.bonsai__navbar-links p:hover {
    opacity: 0.8;
}

.bonsai__link-dropdown {
    display: none;
}

/* Iphone X css */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .bonsai__navbar {
        padding: 1rem 2rem;
    }
    .bonsai__navbar-sign button {
        padding: 0.5rem 0.5rem;
        font-size: 14px;
    }

    .bonsai__navbar-links_container {
        display: none;
    }

    .bonsai__link-dropdown {
        display: unset;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {
    .bonsai__navbar {
        padding: 3rem 4rem;
    }
}