.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .home_container {
    height: 35vw;
  }
}

/* Laptop screens ----------- */
@media only screen and (min-width: 1200px) and (max-width: 1823px) {
  .home_container {
    height: 36vw;
  }
}
