/* for the stories page */

/* for the loading spinner */
.bonsai__spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}