.bonsai_all-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 2rem;
}

.bonsai_all-heading {
    margin:2%;
}

/* Iphone X css */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .bonsai_all-container {
        flex-direction: column;
    }
}