.bonsai_all-container {
    gap: 1.5rem;
    padding: 2rem;
    text-align: center;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
}

.bonsai__button button{
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

.bonsai__button button:hover{
    opacity: 0.8;
}
/* Iphone X css */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .bonsai_all-container {
        flex-direction: column;
    }
}