.home__tabs {
    text-align: center;
    width:30%;
}

.bonsai__box{
    background-color: #17191e;
    border: solid #9d8144;
}

.bonsai__box:hover{
    opacity: 0.8;
    cursor:pointer;
}

/* change this when NFTs are integrated */
.bonsai__box2 {
    opacity: 0.3;
    background-color: #17191e;
    border: solid #9d8144;
}
.bonsai__box2:hover{
    cursor:not-allowed;
}



/* Iphone X css */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    .home__tabs {
        width:100%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1224px) {
    .home__tabs {
        width:80%;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) and (max-device-width : 1980px){
    .home__tabs {
        width:50%;
    }
}